* {
    box-sizing: border-box;
}

.calculadora {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: blue;
    width: 300px;
    height: 500px;
    border-radius: 25px;
    border: 4px solid black;
}

.calculadora td button {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 25px;
    border: 2px solid black;
}

.calculadora td button:hover {
    font-size: 26px;
    font-weight: bold;
}

#resultado {
    display: block;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    width: 250px;
    height: 100px;
    line-height: 100px;
    background-color: #FFF;
    border-radius: 25px;
    overflow: scroll;
}

#igual {
    background-color: yellow;
}

#reset, #suma, #resta, #division, #multiplicacion {
    border: 2px solid red;
}