@import url('https://fonts.googleapis.com/css2?family=Langar&family=Ubuntu:wght@700&display=swap');

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
}

p {
	font-family: 'Langar', cursive;
}